body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}
h1, h2, h3{
    font-family: Asap, sans-serif;
    color: #000000;
}
.botao{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}
/*menu*/
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}
nav > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-family: Yellowtaill, serif;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li{
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/plano.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffff;
    text-align: center;
    padding: 20px;
}
header h1{
    color: #ffffff;
}
header p{
    margin-bottom: 2em;
}
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}
#sobre h2{
    color: #ffffff;
}
#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#sobre .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;
}
#experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
#experiencias figure{
    align-items: center;
}
#experiencias figure img{
    width: 500px;
}
#experiencias figure figcaption{
    text-align: center;
}
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#contato h2{
    color: #000000;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #00ffff;
}
.logo{
    background-color: #191970;
    padding: 0px 0px 0px 10px;
}
.logo a{
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
}
@media screen and (min-width:768px){
    nav{
        flex-direction: none;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
}
#sobre{
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
}
#experienci{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    mix-blend-mode: 1000px;
    margin: 0 auto;
}
#experienci figure{
    text-align: center;
    width: 100%;
}
#experienci h2{
    text-align: center;
    width: 100%;
}
#experienci #lattes{
    text-align: center;
    width: 100%;
}
#experienci h4{
    text-align: center;
    width: 100%;
}
#contato{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    mix-blend-mode: 500px;
    margin: 0 auto;
}
#contato h2, #contato p{
    width: 100%;
}